carapace-bin.mp4
cmd/carapace/carapace
cmd/carapace/carapace.exe
cmd/carapace/cmd/completers/description.go

cmd/carapace/cmd/completers/completers_darwin.go
cmd/carapace/cmd/completers/completers_linux.go
cmd/carapace/cmd/completers/completers_windows.go
cmd/carapace/cmd/completers/completers_all.go
cmd/carapace/cmd/completers/completers_release_darwin.go
cmd/carapace/cmd/completers/completers_release_linux.go
cmd/carapace/cmd/completers/completers_release_windows.go
cmd/carapace/cmd/completers/completers_all.go

cmd/carapace/cmd/completers/name.go
cmd/carapace/cmd/completers_release.go
cmd/carapace/cmd/shim/*.exe
cmd/carapace-fmt/carapace-fmt
cmd/carapace-generate/carapace-generate
cmd/carapace-lint/carapace-lint
cmd/carapace-parse/carapace-parse
cmd/carapace-shim/carapace-shim
completers/common/*/*_completer
completers/common/gh_completer/cmd/action/api.github.com.json
completers_release
dist
docs/book
out.gif
pkg/actions/actions_generated.go
pkg/conditions/conditions_generated.go
