<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllDisks</key>
	<array>
		<string>disk0</string>
		<string>disk0s1</string>
		<string>disk0s2</string>
		<string>disk1</string>
		<string>disk1s1</string>
		<string>disk1s2</string>
		<string>disk1s3</string>
		<string>disk1s4</string>
		<string>disk1s4s1</string>
		<string>disk1s5</string>
		<string>disk1s6</string>
		<string>disk2</string>
		<string>disk3</string>
		<string>disk3s1</string>
	</array>
	<key>AllDisksAndPartitions</key>
	<array>
		<dict>
			<key>Content</key>
			<string>GUID_partition_scheme</string>
			<key>DeviceIdentifier</key>
			<string>disk0</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array>
				<dict>
					<key>Content</key>
					<string>EFI</string>
					<key>DeviceIdentifier</key>
					<string>disk0s1</string>
					<key>DiskUUID</key>
					<string>00000000-0000-0000-0000-000000000000</string>
					<key>Size</key>
					<integer>209715200</integer>
					<key>VolumeName</key>
					<string>EFI</string>
					<key>VolumeUUID</key>
					<string>00000000-0000-0000-0000-000000000001</string>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_APFS</string>
					<key>DeviceIdentifier</key>
					<string>disk0s2</string>
					<key>DiskUUID</key>
					<string>00000000-0000-0000-0000-000000000002</string>
					<key>Size</key>
					<integer>121123069952</integer>
				</dict>
			</array>
			<key>Size</key>
			<integer>121332826112</integer>
		</dict>
		<dict>
			<key>APFSPhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk0s2</string>
				</dict>
			</array>
			<key>APFSVolumes</key>
			<array>
				<dict>
					<key>CapacityInUse</key>
					<integer>15285608448</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s1</string>
					<key>DiskUUID</key>
					<string>00000000-0000-0000-0000-000000000003</string>
					<key>MountPoint</key>
					<string>/System/Volumes/Data</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>121123069952</integer>
					<key>VolumeName</key>
					<string>Untitled - Data - Data</string>
					<key>VolumeUUID</key>
					<string>00000000-0000-0000-0000-000000000004</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>2749399040</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s2</string>
					<key>DiskUUID</key>
					<string>00000000-0000-0000-0000-000000000005</string>
					<key>MountPoint</key>
					<string>/System/Volumes/Preboot</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>121123069952</integer>
					<key>VolumeName</key>
					<string>Preboot</string>
					<key>VolumeUUID</key>
					<string>00000000-0000-0000-0000-000000000006</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>1334226944</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s3</string>
					<key>DiskUUID</key>
					<string>00000000-0000-0000-0000-000000000007</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>121123069952</integer>
					<key>VolumeName</key>
					<string>Recovery</string>
					<key>VolumeUUID</key>
					<string>00000000-0000-0000-0000-000000000008</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>11804602368</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s4</string>
					<key>DiskUUID</key>
					<string>00000000-0000-0000-0000-000000000009</string>
					<key>MountedSnapshots</key>
					<array>
						<dict>
							<key>Sealed</key>
							<string>Broken</string>
							<key>SnapshotBSD</key>
							<string>disk1s4s1</string>
							<key>SnapshotMountPoint</key>
							<string>/</string>
							<key>SnapshotName</key>
							<string>com.apple.bless.00000000-0000-0000-0000-000000000010</string>
							<key>SnapshotUUID</key>
							<string>00000000-0000-0000-0000-000000000011</string>
						</dict>
					</array>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>121123069952</integer>
					<key>VolumeName</key>
					<string>Untitled - Data</string>
					<key>VolumeUUID</key>
					<string>00000000-0000-0000-0000-000000000012</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>11804602368</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s4s1</string>
					<key>DiskUUID</key>
					<string>00000000-0000-0000-0000-000000000013</string>
					<key>MountPoint</key>
					<string>/</string>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>121123069952</integer>
					<key>VolumeName</key>
					<string>Untitled - Data</string>
					<key>VolumeUUID</key>
					<string>00000000-0000-0000-0000-000000000014</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>1069056</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s5</string>
					<key>DiskUUID</key>
					<string>00000000-0000-0000-0000-000000000015</string>
					<key>MountPoint</key>
					<string>/System/Volumes/VM</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>121123069952</integer>
					<key>VolumeName</key>
					<string>VM</string>
					<key>VolumeUUID</key>
					<string>00000000-0000-0000-0000-000000000016</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>4132864</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s6</string>
					<key>DiskUUID</key>
					<string>00000000-0000-0000-0000-000000000017</string>
					<key>MountPoint</key>
					<string>/System/Volumes/Update</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>121123069952</integer>
					<key>VolumeName</key>
					<string>Update</string>
					<key>VolumeUUID</key>
					<string>00000000-0000-0000-0000-000000000018</string>
				</dict>
			</array>
			<key>Content</key>
			<string>Apple_APFS_Container</string>
			<key>DeviceIdentifier</key>
			<string>disk1</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array/>
			<key>Size</key>
			<integer>121123069952</integer>
		</dict>
		<dict>
			<key>Content</key>
			<string></string>
			<key>DeviceIdentifier</key>
			<string>disk2</string>
			<key>OSInternal</key>
			<false/>
			<key>Size</key>
			<integer>4194304</integer>
		</dict>
		<dict>
			<key>APFSPhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk2</string>
				</dict>
			</array>
			<key>APFSVolumes</key>
			<array>
				<dict>
					<key>CapacityInUse</key>
					<integer>692224</integer>
					<key>DeviceIdentifier</key>
					<string>disk3s1</string>
					<key>DiskUUID</key>
					<string>00000000-0000-0000-0000-000000000019</string>
					<key>MountPoint</key>
					<string>/System/Library/AssetsV2/com_apple_MobileAsset_PKITrustStore/purpose_auto/0000000000000000000000000000000000000000.asset/.AssetData</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>4194304</integer>
					<key>VolumeName</key>
					<string>Creedence11M6270.SECUREPKITRUSTSTOREASSETS_SECUREPKITRUSTSTORE_Cryptex</string>
					<key>VolumeUUID</key>
					<string>00000000-0000-0000-0000-000000000020</string>
				</dict>
			</array>
			<key>Content</key>
			<string>Apple_APFS_Container</string>
			<key>DeviceIdentifier</key>
			<string>disk3</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array/>
			<key>Size</key>
			<integer>4194304</integer>
		</dict>
	</array>
	<key>VolumesFromDisks</key>
	<array>
		<string>Untitled - Data - Data</string>
		<string>Preboot</string>
		<string>Untitled - Data</string>
		<string>VM</string>
		<string>Update</string>
		<string>Creedence11M6270.SECUREPKITRUSTSTOREASSETS_SECUREPKITRUSTSTORE_Cryptex</string>
	</array>
	<key>WholeDisks</key>
	<array>
		<string>disk0</string>
		<string>disk1</string>
		<string>disk2</string>
		<string>disk3</string>
	</array>
</dict>
</plist>
